.header{
    background-image : url(./homeSize.jpg);
    /* clip-path: polygon(0 68%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 100%, 77% 94%, 48% 100%, 25% 95%, 0 100%); */
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  }

  .text-home{
    
    color: aliceblue;
    text-transform: capitalize;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
margin-bottom: 500px;
  }

  .text-home h1{
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 3px 4px #000000;
   padding-top: 11%;
  }

  .text-home h2{
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 3px 4px #000000;
   padding-top: 4%;
  }