*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-style{
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  color: antiquewhite;
  background-color: rgb(148, 184, 185);
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}