*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: fixed
}

/* .navbar-style{
 
  text-transform: uppercase;
  color: antiquewhite;
  background-color: rgb(148, 184, 185);
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

